header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
}

header div img {
    width: 21px;
    height: 21px;
    object-fit: contain;
    cursor: pointer;
}

header div {
    display: flex;
    align-items: center;
    gap: 25px;
}

.banner {
    width: 100%;
    height: 375px;
    object-fit: cover;
}

